-- Clear all existing records
truncate table niccrsxchng.n_stag_canvas;

-- Begin generation of mock records
<% (1..100).each { %>
<%
def teachingCollegeId = faker.number().numberBetween(20000000, 29999999).toString()
def homeCollegeId = faker.number().numberBetween(50000000, 59999999).toString()
def cccId = faker.bothify("#??##?", true)
def homeInstitution = faker.options().nextElement(homeInstitutions)
%>
insert into niccrsxchng.n_stag_canvas
(studentid, cccid, canvasrootaccount, homesisuserid)
values
($teachingCollegeId, '$cccId', '$homeInstitution', '$homeCollegeId');
<% } %>